@{
//int Take = 0;
//int Total = 0;
//int Primer = 0;
//int Ultimo = 0;
//int Index = 0;

//if (ViewBag.Componentes != null)
//{
//    Take = ViewBag.Usuarios.Take;
//    Index = ViewBag.Usuarios.Index;
//    Total = ViewBag.Usuarios.TotalRegistros;
//    Primer = ((Index - 1) * Take) + 1;
//    Ultimo = Primer + (ViewBag.Usuarios.Lista.Count - 1);

//    Primer = Primer < 0 ? 0 : Primer;
//    Ultimo = Ultimo < 0 ? 0 : Ultimo;
//}
//else
//{
//    Take = 0;
//}
}

@*<div>
    <span class="informacion">Mostrando desde N° @Primer hasta @Ultimo de un total de @Total entradas</span>
    <div class="float-lg-right">
        Total de registros:
        <select id="take">
            <option value="10" @(Take == 10 ? "selected" : "")>10</option>
            <option value="25" @(Take == 25 ? "selected" : "")>25</option>
            <option value="50" @(Take == 50 ? "selected" : "")>50</option>
            <option value="0" @(Take == 0 ? "selected" : "")>TODOS</option>
        </select>
    </div>
</div>*@
<div class="box box-info mt-2">
    <div class="table-responsive">
        <table class="table table-hover" id="TablaAExportar">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Campos</th>
                    <th class="NoImprimir">Editar</th>
                    <th class="NoImprimir">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (ViewBag.Componentes == null)
                    {
                        <tr><td colspan="7" class="text-center">Error al conectarse al servidor</td></tr>
                    }
                    else if (ViewBag.Componentes.Count == 0)
                    {
                        <tr><td colspan="7" class="text-center">No hay resultados</td></tr>
                    }
                    else
                    {
                        foreach (OTracking.Models.Comun.BandejaComponente item in ViewBag.Componentes)
                        {
                            <tr id="componente-@item.ComponenteId">
                                <td id="padre-valor">@item.Nombre</td>
                                <td style="padding:0px;">
                                    @{ 
                                        if(item.Lista.Count > 0)
                                        {
                                            <table style="border:1px solid lightgray">
                                                <thead>
                                                    <tr>
                                                        <th>Nombre</th>
                                                        <th>Tipo Valor</th>
                                                        <th>Minimo</th>
                                                        <th>Máximo</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{ 
                                                        foreach(OTracking.Models.Comun.BandejaComponente hijo in item.Lista)
                                                        {
                                                            <tr>
                                                                <td style="display:none;" id="campo-id">@hijo.ComponenteId</td>
                                                                <td id="campo-nombre">@hijo.Nombre</td>
                                                                <td id="campo-valor" style="display:none">@(hijo.TipoValorId.HasValue ? hijo.TipoValorId.Value.ToString() : "")</td>
                                                                <td>@(hijo.TipoValorTexto != null ? hijo.TipoValorTexto : "")</td>
                                                                <td id="campo-minimo">@(hijo.ValorMinimo.HasValue ? hijo.ValorMinimo.Value.ToString() : "")</td>
                                                                <td id="campo-maximo">@(hijo.ValorMaximo.HasValue ? hijo.ValorMaximo.Value.ToString() : "")</td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                    }
                                </td>
                                <td><a onclick="UpdateComponente(@item.ComponenteId)"><span class="icon-edit"></span></a></td>
                                <td><a onclick="DeleteComponente(@item.ComponenteId)"><span class="icon-trash"></span></a></td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
        @*<div class="paginacion-tabla d-flex justify-content-center">
            <div>
                <ul class="pagination">
                    @{
                        if (Index > 1)
                        {
                            <li class="page-item" onclick="FiltrarUsuarios(@(Index - 1))">
                                <span class="page-link" aria-hidden="true">Anterior</span>
                            </li>
                        }
                        int pagina = 0;
                        if (Take > 0)
                        {
                            for (int i = 0; i < Total; i = i + Take)
                            {
                                pagina++;
                                <li @(pagina == Index ? "class=pagination-active" : "onclick=FiltrarUsuarios(" + pagina + ")")><span class="page-link" aria-hidden="true">@pagina</span></li>
                            }
                        }
                        if (pagina > Index)
                        {
                            <li class="page-item" onclick="FiltrarUsuarios(@(Index + 1))">
                                <span class="page-link" aria-hidden="true">Siguiente</span>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>*@
    </div>
</div>
