@{
    int Take = 0;
    int Total = 0;
    int Primer = 0;
    int Ultimo = 0;
    int Index = 0;

    if (ViewBag.Bandeja != null)
    {
        Take = ViewBag.Bandeja.Take;
        Index = ViewBag.Bandeja.Index;
        Total = ViewBag.Bandeja.TotalRegistros;
        Primer = ((Index - 1) * Take) + 1;
        Ultimo = Primer + (ViewBag.Bandeja.Lista.Count - 1);

        Primer = Primer < 0 ? 0 : Primer;
        Ultimo = Ultimo < 0 ? 0 : Ultimo;
    }
    else
    {
        Take = 0;
    }
}

<div class="container-fluid" style="padding:0px;">
    <div class="box box-default mt-2" id="acordion">
        <div class="box-header with-border" id="heading1">
            <h3 class="box-title" style="cursor:pointer;" onclick="ColapsarTabla('table-responsive')"><i class="icon-list-numbered"></i> Listado de Usuarios </h3>
        </div>
    </div>
</div>
<div>
    <span class="informacion">Mostrando desde N° @Primer hasta @Ultimo de un total de @Total entradas</span>
    <div class="float-lg-right">
        Total de registros:
        <select id="take" onchange="Filtrar(1)">
            <option value="10" @(Take == 10 ? "selected" : "")>10</option>
            <option value="25" @(Take == 25 ? "selected" : "")>25</option>
            <option value="50" @(Take == 50 ? "selected" : "")>50</option>
            <option value="0" @(Take == 0 ? "selected" : "")>TODOS</option>
        </select>
    </div>
</div>
<div class="box box-info mt-2">
    <div class="table-responsive">
        <table class="table table-hover" id="TablaAExportar">
            <thead>
                <tr>
                    <th><input type="checkbox" onclick="CheckAll(this)" /></th>
                    <th>Documento</th>
                    <th>N° Documento</th>
                    <th>Nombres</th>
                    <th>Ap Paterno</th>
                    <th>Ap Materno</th>
                    <th>Fecha Nac</th>
                    <th>Edad</th>
                    <th>Puesto</th>
                    <th>Area</th>
                    <th>Zona</th>
                    <th>Lugar Trabajo</th>
                    <th>Discapacitado</th>
                    <th>Sede Colaborador</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (ViewBag.Bandeja == null)
                    {
                        <tr><td colspan="12" class="text-center">Error al conectarse al servidor</td></tr>
                    }
                    else if (ViewBag.Bandeja.Lista.Count == 0)
                    {
                        <tr><td colspan="12" class="text-center">No hay resultados</td></tr>
                    }
                    else
                    {
                        foreach (OTracking.Models.Comun.BandejaEMODetalle item in ViewBag.Bandeja.Lista)
                        {
                            <tr>
                                <td><input type="checkbox" onclick="SingleCheck()"/></td>
                                <td>@item.TipoDocumento</td>
                                <td id="nroDocumento">@item.NroDocumento</td>
                                <td>@item.Nombres</td>
                                <td>@item.ApellidoPaterno</td>
                                <td>@item.ApellidoMaterno</td>
                                <td>@(item.FechaNacimiento.HasValue ? item.FechaNacimiento.Value.ToString("dd/MM/yyyy") : "")</td>
                                <td>@item.Edad</td>
                                <td>@item.PuestoLaboral</td>
                                <td>@item.Area</td>
                                <td>@item.Zona</td>
                                <td>@item.LugarDeTrabajo</td>
                                <td>@item.Discapacitado</td>
                                <td>@item.SedeRUC</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
        <div class="paginacion-tabla d-flex justify-content-center">
            <div>
                <ul class="pagination">
                    @{
                        if (Index > 1)
                        {
                            <li class="page-item" onclick="Filtrar(1)">
                                <span class="page-link" aria-hidden="true">Primero</span>
                            </li>
                            <li class="page-item" onclick="Filtrar(@(Index - 1))">
                                <span class="page-link" aria-hidden="true">Anterior</span>
                            </li>
                        }
                        int pagina = 0;
                        if (Take > 0)
                        {
                            for (int i = 0; i < Total; i = i + Take)
                            {
                                pagina++;
                                if((pagina > (Index - 5)) && pagina < (Index + 5))
                                {
                                    <li @(pagina == Index ? "class=pagination-active" : "onclick=Filtrar(" + pagina + ")")><span class="page-link" aria-hidden="true">@pagina</span></li>
                                }
                                
                            }
                        }
                        if (pagina > Index)
                        {
                            <li class="page-item" onclick="Filtrar(@(Index + 1))">
                                <span class="page-link" aria-hidden="true">Siguiente</span>
                            </li>
                            <li class="page-item" onclick="Filtrar(@(pagina))">
                                <span class="page-link" aria-hidden="true">Ultimo</span>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
